div.education-item {
    display: flex;
    flex-direction: column;
}

div.education-item:hover button.delete-section-button {
    opacity: 1;
}
button.delete-section-button {
    background-color: var(--color-grey-transparent);
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-grey);
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease;
    opacity: 0;
}

button.delete-section-button:hover {
    transform: scale(1.2);
}

div.title-and-delete-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.title-and-delete-button-container > p.title {
    text-align: end;
    font-family: var(--font-titles-h2);
    border: 1px solid black;
    padding: 3px 5px;
    width: fit-content;
}

span.material-icons-round {
    color: var(--color-span-icon);
    font-size: 1.25rem;
}

div.contact {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: auto;
}
