@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Darker+Grotesque:wght@300;400;900&family=Poiret+One&display=swap');

@font-face {
    font-family: 'CoffeCake';
    src: url('./../assets/fonts/coffecake/CoffeCake.otf');
}

@font-face {
    font-family: 'GeoSansLight';
    src: url('./../assets/fonts/geo_sans_light/GeosansLight.ttf');
}

:root {
    --font-coffecake: 'CoffeCake';
    --font-titles-h2: 'GeoSansLight';
    --main-font: 'Poiret One';
    --secondary-font: 'Darker Grotesque';
    --color-pink: #ffa1ac;
    --color-pink-transparent: #ffa1ac55;
    --color-yellow: #f9e978;
    --color-lavender: #ebe9ff;
    --color-cyan: #00bbf9;
    --color-cyan-transparent: #00bbf955;
    --color-orange: #fcc095;
    --color-white: #f8f9fa;
    --color-black: #343a40;
    --color-grey: #adb5bd55;
    --color-grey-transparent: #adb5bd3f;
    --color-span-icon: #aeb4b7;
    --default-value: 15px;
    --border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
}

div#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.notification-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    position: fixed;
    top: 5%;
    right: 2.5%;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 300ms ease;
    z-index: 200;
}

.notification-box--hidden {
    right: -1000px;
}

.notification-box__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: #ffffff00;
    transition: all 300ms ease;
}

.notification-box__close-button:hover {
    scale: 1.2;
    cursor: pointer;
}

.notification-box__close-button__i {
    font-size: 1.5rem;
    color: #ced4da;
}

.notification-box__notification-message {
    font-size: 1.5rem;
}

input {
    width: 100%;
    background-image: linear-gradient(
        75deg,
        var(--color-grey-transparent),
        var(--color-grey-transparent),
        var(--color-pink-transparent),
        var(--color-pink-transparent)
    );
    background-size: 400%;
    background-position: left;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 1.2rem;
    transition: all 500ms ease-in-out;
}

input:hover {
    background-position: right;
    border: 1px solid var(--color-pink);
}

input:focus {
    background-image: none;
    background-color: var(--color-cyan-transparent);
    border: 1px solid var(--color-pink);
}

label {
    display: flex;
    flex-direction: column;
}

@media print {
    div#root {
        height: fit-content;
        padding: 0;
    }

    .notification-box,
    #print-instructions,
    #navbar,
    #footer,
    #inputs,
    #separator,
    .notification-box {
        display: none;
    }

    .buttons-container {
        opacity: 0;
    }

    #page-link {
        display: block;
        color: #ced4da;
    }

    #app {
        background: transparent !important;
        padding: 0;
        margin: 0;
    }

    #CV {
        background: transparent !important;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        border: none;
        box-shadow: none;
    }

    #CV__separator {
        height: initial;
    }
}
