form#education-form {
    display: flex;
    flex-direction: column;
}

form#education-form > fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--default-value);
    padding: calc(var(--default-value) - 5px);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-grey-transparent);
}

form#education-form > fieldset > legend {
    padding: 5px;
    border: 1px solid var(--color-grey-transparent);
    border-radius: calc(var(--border-radius) / 2);
}

form#education-form > fieldset > div.inputs-container {
    display: flex;
    gap: var(--default-value);
}

form#education-form > fieldset > div.inputs-container > label {
    width: 50%;
    display: flex;
    flex-direction: column;
}

form#education-form > fieldset > div.inputs-container > label > input {
    width: 100%;
    background-image: linear-gradient(
        75deg,
        var(--color-grey-transparent),
        var(--color-grey-transparent),
        var(--color-pink-transparent),
        var(--color-pink-transparent)
    );
    background-size: 400%;
    background-position: left;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 1.2rem;
    transition: all 500ms ease-in-out;
}

/* form#education-form > fieldset > div.inputs-container > * { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* } */

form#education-form > fieldset > button {
    background-image: linear-gradient(
        90deg,
        var(--color-grey-transparent),
        var(--color-grey-transparent),
        var(--color-pink),
        var(--color-yellow)
    );
    background-size: 750%;
    background-position: left;
    font-size: 1.15rem;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 500ms ease-out;
    cursor: pointer;
}

form#education-form > fieldset > button:hover {
    background-position: right;
    background-size: 250%;
    color: var(--color-black);
    border: 1px solid var(--color-pink-transparent);
}
